main > .container {
  padding: 60px 15px 0;
}
.nav-item{
	align-self: center;
}
.navbar-nav{
	width: 100%;
}
.search_bar{
	width: 70%;
}
.avatar{
	width: 30%;
}
.avatar img{
	width: 70px;
	float: right;
}
.login_work{
	color: white;
	width: 10%;
	margin-left: 2%;
}
.tags_top{
	list-style: none;
}
.tags_group{
	margin-bottom: 15px;
	list-style: none;
	font-size: 20px;
}
.tag{
	display: inline;
	margin-left: 5px;
}
.tag a{
	text-decoration: none;
	color: black;
}
.tag a:hover{
	font-weight: bold;
}
.tags_group:first-child a{
	color: red;
}
.members{
	list-style: none;
}
.members > li > a{
	font-size: 20px;
	margin-top: 10px;
}
.slider{
	padding: 20px;
}

/* index_style.css */

.question{
    border-bottom: dotted;
    padding: 20px;
    margin-right: 30px;
}
.question_list{
	margin: 5px 10px;
	padding: 10px;
}
.question_avatar img {
	width: 150px;
}
.question_content{
	padding: 5px 10px;
}
.likes{
	margin: 10px 0px;
}
.like_counter{
	font-weight: bold;
}
.question_tags a{
	color: green;
	font-weight: bold;
}

/* question_style.css */

.main_question{
    border-bottom: solid;
    padding: 20px;
    margin-right: 30px;
    margin-top: 50px;
}
.answer{
    border-bottom: dotted;
    padding: 20px;
    margin-right: 30px;
    margin-top: 10px;
}
.answer_list{
	margin: 5px 10px;
	padding: 10px;
}
.answer_avatar img {
	width: 120px;
}
.answer_content{
	padding: 5px 10px;
}
.your_answer{
	margin-top: 10px;
}
.btn-answer{
	margin-bottom: 10px;
}

/* settings_style.css */
.settings_element{
	margin: 30px;
	font-size: 20px;
}
.cur_avatar{
	width: 300px;
}

/* login_style.css */

.login_element{
	margin: 50px;
	font-size: 20px;
}
.error_msg{
	color: red;
	font-weight: bold;
	font-style: italic;
}
.first_time a{
	font-size: 17px;
	font-style: italic;
}
.first_time{
	margin-top: 10px;
}

/* ask_style.css */

.input_element{
	margin: 30px;
	font-size: 20px;
}